<div class="container">
  <div class="row">
    <div class="col-lg-3">
          <table class="menu1">
        <tbody>
        <td>

           <tr>
             <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-1'" [dragOverClass]="'drag-target-border'"
                  [dragHintClass]="'drag-hint'" (onDrop)="onList1Drop($event)">
               <div class="card-header card-inverse card-primary">List 1</div>
               <div class="card-block scroll-list">
                 <ul class="list-group">
                   <li draggable *ngFor="let item of list1" [dragScope]="'swap-target-2'" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item ">
                     {{item.name}}
                   </li>
                 </ul>
               </div>
             </div>
          </tr>
          <tr class="aa"> Настройка</tr>
          <tr class="aa"> Количество рядов (JTI)</tr>
        <tr class="aa"><input [formControl]="rows"></tr>
          <tr class="aa"> Количество рядов (JTI)</tr>
          <tr class="aa"><input [formControl]="cols"></tr>
          <tr><div class="form-group">
            <label for="exampleFormControlSelect1">Регион</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Москва</option>
              <option>Ростов</option>
              <option>Калуга</option>
            </select>
          </div></tr>
<tr><div class="form-group">
  <label for="exampleFormControlSelect1">Портфельная территория</label>
  <select class="form-control" id="exampleFormControlSelect2">
    <option>Московская область</option>
    <option>Ростовская область</option>
    </select>
</div></tr>
          <tr>SKU</tr>
<tr>Winston</tr>
          <tr>LD</tr>
          <tr>Бренд 3</tr>
          <tr>Бренд 4</tr>
          <tr class="aa"><button type="button" class="btn btn-success">Сохранить</button></tr>
            <tr class="aa"><button type="button" class="btn btn-secondary">Отменить</button></tr>
        </td>
         </tbody>
      </table>
    </div>
    <div class="col">
        <div class="eq-row" *ngFor="let item of colsArr; let i = index" >
            <div class="box" *ngFor="let item of  matrix ; let j = index">
                <div class="card card-outline-primary mb-3" droppable  [dropScope]="'swap-target-2'" [dragOverClass]="'drag-target-border'"
                 [dragHintClass]="'drag-hint'"  (onDrop)="onList2Drop($event)"  >
              <div class="card-header card-inverse card-primary"></div>
              <div class="card-block scroll-list">
                <ul class="list-group">
                  <li draggable *ngFor="let item of list2" [dragScope]="'swap-target-1'" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item">
                    {{item.name}}+ {{i}}+{{j}}
                  </li>
                </ul>
              </div>
            </div>
            </div>

    </div>
    </div>
  </div>
</div>





