<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body>
<div class="topmenu">
<nav class="navbar navbar-expand-lg npnavbar-dark ">
  <img src="https://media.discordapp.net/attachments/513383510350757888/654782928047308860/-2.jpg">
  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Планограмма <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Панель управления <span class="sr-only">(current)</span></a>
      </li>
      <div class="aa">
        <li class="nav-item active">
          <a class="nav-link" href="#">Администратор А.<span class="sr-only">(current)</span></a>
        </li>
      </div>
      <li class="nav-item active" >
        <a class="nav-link" href="#"><img src="https://media.discordapp.net/attachments/513383510350757888/654782931008487434/4.jpg"> <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>

</nav >
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" ><img src=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/page">Новая планограмма <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">На утверждении<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Мои планограммы<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Активные<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Поиск<span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>

</nav>
<router-outlet></router-outlet>
</body>

